$white : white;
$red: #e03f3f;

* {
	margin: unset;
	padding: unset;
	text-decoration: none;
	font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
}


body {

	&>*>* {
		padding: 0 10rem;
	}
}

nav {
	background-color: black;
	width: calc(100vw - 20rem);
	padding: 2rem 10rem;
	color: white;
	display: flex;
	justify-content: space-between;

	a>p {
		font-weight: 900;

		span {
			color: $white;
		}
	}


	div:first-of-type {
		width: 30rem;
		display: flex;
		justify-content: space-between;

		a {
			color: $white;
			font-weight: 600;
		}

	}

	div {
		width: 3rem;
		display: flex;
		justify-content: space-between;

		ion-icon {
			width: 20px;
			height: 20px;
		}
	}

	a {
		color: $red;

	}

}

#HeroSection {
	height: 65rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-image: linear-gradient(rgb(0 0 0/0.25), rgb(0 0 0/0.25)), url(https://images.unsplash.com/photo-1552346154-21d32810aba3?w=1920&h=1080&fit=crop&q=80);
	background-repeat: no-repeat;
	background-size: cover;

	* {
		width: 25rem;
	}

	div:first-of-type {
		border: 3px solid $white;
		width: 14rem;
		padding: 0.5rem 1rem;
		margin-right: 9rem;

		p {
			color: $white;
			font-weight: 600;
		}

	}

	h1 {
		color: $red;
		font-weight: 900;
		font-size: 3rem;
		line-height: 3rem;

		span {
			color: $white;
		}
	}

	&>p {
		color: $white;
		font-size: 18px;
	}

	div:last-child {
		display: flex;
		flex-direction: row;

		button {
			width: fit-content;
			color: $white;
			background-color: $red;
			display: flex;

			justify-content: center;
			align-items: center;

			&:first-child {
				width: 7rem;

				&>p {
					width: fit-content;
				}

				&>ion-icon {
					width: 16px;
					height: 16px;
				}
			}
		}
	}
}


@media screen and (max-width:1024px) {
	nav>div:first-of-type {
		display: none;
	}
}